<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Personal loan">
        <classes>
            <class name="test.BasicTests" />
            <class name="test.SecondClass"></class>
        </classes>
    </test>
</suite>