<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    
    <test name="Personal loan">
        <classes>
            <class name="test.BasicTests">
                <methods>
                    <include name="demo"/>
                </methods>
            </class>
            <class name="test.SecondClass"/>
            <class name="test.ThirdClass"/>
        </classes>
    </test>
    
</suite>